## AGUME KENNETH B30309 S24B38/017

In [114]:
import pandas as pd

- Loading the dataset

In [115]:
data = pd.read_csv("assign.csv")
data

       Timestamp,Energy_kWh
0   2025-01-01 00:00:00,4.2
1   2025-01-01 00:15:00,3.8
2   01-01-2025 00:30:00,3.9
3      2025-01-01 00:45:00,
4   2025-01-01 01:00:00,4.5
5   2025-01-01 01:30:00,4.1
6   2025-01-01 01:45:00,3.7
7   2025-01-01 02:00:00,NaN
8   2025-01-01 02:15:00,3.2
9   2025-01-01 02:30:00,3.1
10  2025-01-01 02:45:00,3.0
11  2025-01-01 03:00:00,2.9
12  2025-01-03 12:00:00,5.5
13  2025-01-03 12:15:00,5.8
14  03/01/2025 12:30:00,6.2
15  2025-01-03 12:45:00,6.0
16  2025-01-04 08:00:00,7.1
17  2025-01-04 08:15:00,7.5
18  2025-01-04 08:30:00,NaN
19  2025-01-04 08:45:00,8.2

In [116]:
# splittinng the data so that the two columns appear separately
data[['Timestamp', 'Energy_kWh']] = data.iloc[:,0].str.split(',', expand=True)

In [117]:
# Dropping the old combined column
data = data.drop(columns=data.columns[0])
data

              Timestamp Energy_kWh
0   2025-01-01 00:00:00        4.2
1   2025-01-01 00:15:00        3.8
2   01-01-2025 00:30:00        3.9
3   2025-01-01 00:45:00
4   2025-01-01 01:00:00        4.5
5   2025-01-01 01:30:00        4.1
6   2025-01-01 01:45:00        3.7
7   2025-01-01 02:00:00        NaN
8   2025-01-01 02:15:00        3.2
9   2025-01-01 02:30:00        3.1
10  2025-01-01 02:45:00        3.0
11  2025-01-01 03:00:00        2.9
12  2025-01-03 12:00:00        5.5
13  2025-01-03 12:15:00        5.8
14  03/01/2025 12:30:00        6.2
15  2025-01-03 12:45:00        6.0
16  2025-01-04 08:00:00        7.1
17  2025-01-04 08:15:00        7.5
18  2025-01-04 08:30:00        NaN
19  2025-01-04 08:45:00        8.2

- Converting Timestap column to datetime

In [118]:
# handling mixed data formats in the 'Timestamp' column
data['Timestamp'] = pd.to_datetime(
    data['Timestamp'],
    format='mixed',
    dayfirst=True
)

In [119]:
# Checking if Timestamp has been converted to. datetime format and the data types of the columns and index
print(data.columns)
print(type(data.index))

Index(['Timestamp', 'Energy_kWh'], dtype='object')
<class 'pandas.core.indexes.range.RangeIndex'>

- Creating the 15-minute intervals

In [120]:
data = data.asfreq('15T')

/var/folders/n9/xrsn60p14h9cv9mjt3n_9gf00000gp/T/ipykernel_11440/376300407.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  data = data.asfreq('15T')

The above helps in exposing the missing timestamps

# Filling in missing values

- checking for missing values before interpoltaion

In [121]:
print(data.isnull().sum())

Timestamp     1
Energy_kWh    1
dtype: int64

In [122]:
data[data.isna().any(axis=1)]

           Timestamp Energy_kWh
1970-01-01       NaT        NaN

- Using linear interpolation inorder to keep the trends smooth

In [123]:
data['Energy_kWh'] = data['Energy_kWh'].interpolate(method='linear')

/var/folders/n9/xrsn60p14h9cv9mjt3n_9gf00000gp/T/ipykernel_11440/1399082415.py:1: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data['Energy_kWh'] = data['Energy_kWh'].interpolate(method='linear')

- checking to confirm if the mising values have been removed

In [124]:
print(data.isnull().sum())

Timestamp     1
Energy_kWh    1
dtype: int64