## AGUME KENNETH B30309 S24B38/017

In [1]:
import pandas as pd

- Loading the dataset

In [2]:
data = pd.read_csv('assign.csv')
data.head()

      Timestamp,Energy_kWh
0  2025-01-01 00:00:00,4.2
1  2025-01-01 00:15:00,3.8
2  01-01-2025 00:30:00,3.9
3     2025-01-01 00:45:00,
4  2025-01-01 01:00:00,4.5

- Converting Timestap column to datetime