## AGUME KENNETH B30309 S24B38/017

In [127]:
import pandas as pd

- Loading the dataset

In [128]:
data = pd.read_csv("assign.csv")
data

       Timestamp,Energy_kWh
0   2025-01-01 00:00:00,4.2
1   2025-01-01 00:15:00,3.8
2   01-01-2025 00:30:00,3.9
3      2025-01-01 00:45:00,
4   2025-01-01 01:00:00,4.5
5   2025-01-01 01:30:00,4.1
6   2025-01-01 01:45:00,3.7
7   2025-01-01 02:00:00,NaN
8   2025-01-01 02:15:00,3.2
9   2025-01-01 02:30:00,3.1
10  2025-01-01 02:45:00,3.0
11  2025-01-01 03:00:00,2.9
12  2025-01-03 12:00:00,5.5
13  2025-01-03 12:15:00,5.8
14  03/01/2025 12:30:00,6.2
15  2025-01-03 12:45:00,6.0
16  2025-01-04 08:00:00,7.1
17  2025-01-04 08:15:00,7.5
18  2025-01-04 08:30:00,NaN
19  2025-01-04 08:45:00,8.2

In [129]:
# splittinng the data so that the two columns appear separately
data[['Timestamp', 'Energy_kWh']] = data.iloc[:,0].str.split(',', expand=True)

# Remove extra spaces from Timestamp
data['Timestamp'] = data['Timestamp'].astype(str).str.strip()

In [130]:
# Dropping the old combined column
data = data.drop(columns=data.columns[0])
data

              Timestamp Energy_kWh
0   2025-01-01 00:00:00        4.2
1   2025-01-01 00:15:00        3.8
2   01-01-2025 00:30:00        3.9
3   2025-01-01 00:45:00
4   2025-01-01 01:00:00        4.5
5   2025-01-01 01:30:00        4.1
6   2025-01-01 01:45:00        3.7
7   2025-01-01 02:00:00        NaN
8   2025-01-01 02:15:00        3.2
9   2025-01-01 02:30:00        3.1
10  2025-01-01 02:45:00        3.0
11  2025-01-01 03:00:00        2.9
12  2025-01-03 12:00:00        5.5
13  2025-01-03 12:15:00        5.8
14  03/01/2025 12:30:00        6.2
15  2025-01-03 12:45:00        6.0
16  2025-01-04 08:00:00        7.1
17  2025-01-04 08:15:00        7.5
18  2025-01-04 08:30:00        NaN
19  2025-01-04 08:45:00        8.2

- Converting Timestap column to datetime

In [131]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'], errors='coerce')
data

             Timestamp Energy_kWh
0  2025-01-01 00:00:00        4.2
1  2025-01-01 00:15:00        3.8
2                  NaT        3.9
3  2025-01-01 00:45:00
4  2025-01-01 01:00:00        4.5
5  2025-01-01 01:30:00        4.1
6  2025-01-01 01:45:00        3.7
7  2025-01-01 02:00:00        NaN
8  2025-01-01 02:15:00        3.2
9  2025-01-01 02:30:00        3.1
10 2025-01-01 02:45:00        3.0
11 2025-01-01 03:00:00        2.9
12 2025-01-03 12:00:00        5.5
13 2025-01-03 12:15:00        5.8
14                 NaT        6.2
15 2025-01-03 12:45:00        6.0
16 2025-01-04 08:00:00        7.1
17 2025-01-04 08:15:00        7.5
18 2025-01-04 08:30:00        NaN
19 2025-01-04 08:45:00        8.2

In [133]:
data['Timestamp'].isna().sum()

2

## Handling the gaps

In [ ]:
# Setting Timestamp as the time index
data = data.set_index('Timestamp')
data

                    Energy_kWh
Timestamp
2025-01-01 00:00:00        4.2
2025-01-01 00:15:00        3.8
NaT                        3.9
2025-01-01 00:45:00
2025-01-01 01:00:00        4.5
2025-01-01 01:30:00        4.1
2025-01-01 01:45:00        3.7
2025-01-01 02:00:00        NaN
2025-01-01 02:15:00        3.2
2025-01-01 02:30:00        3.1
2025-01-01 02:45:00        3.0
2025-01-01 03:00:00        2.9
2025-01-03 12:00:00        5.5
2025-01-03 12:15:00        5.8
NaT                        6.2
2025-01-03 12:45:00        6.0
2025-01-04 08:00:00        7.1
2025-01-04 08:15:00        7.5
2025-01-04 08:30:00        NaN
2025-01-04 08:45:00        8.2

- Creating a continous  15-minute time range

In [135]:
full_time = pd.date_range(
    start=data.index.min(),
    end=data.index.max(),
    freq='15min'
)